body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }
  
  #map{
      height: 400px;
      width:100%;
  }
  
  #background{
      background: url(https://files.merryjane.com/uploads/article/hero_image/1533/NEVER_FEAR_SMOKING_WEED_ON_FAMILY_VACATION_WIDE.jpg);
      
      height: 400px;
      width: 100%;
      
      z-index: -1;
      
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover !important;
  }
  
/* Altering the height of the static logo image */
#logoImg {
    height: 42px;
    display: inline-block;
    vertical-align: middle
}

#cartImg {
    display: block;
    margin: auto;
}

/* styles for '...' */ 
.text-truncate {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 4.8em; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: left;
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}
/* create the ... */
.text-truncate:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.text-truncate:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

#white_title {
    text-shadow:
    -.5px -.5px 0 #000,
    .5px -.5px 0 #000,
    -.5px .5px 0 #000,
    .5px .5px 0 #000; 
}

#sale-link{
    color:#4c921a;;
}